@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
}

.container-main {
  padding-top: 70px;
}

.welcome {
  text-align: center;
  font-family: "Poppins", "Helvetica", sans-serif;
  font-size: larger;
}

.centered {
  text-align: center;
}

.centered > a {
  margin-inline: 0.5em;
}

#links {
  min-height: 200px;
  min-width: 500px;
  resize: both;
  overflow: auto;
}

#go-to-blog-posts {
  margin-top: 3%;
  text-align: center;
}

#blog-posts {
  margin-top: 100%;
  padding-bottom: 25%;
}

.blog-post-card {
  /* Add shadows to create the "card" effect */
  padding: 2%;
  margin: 2em;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  text-align: justify;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-overflow: ellipsis;
  width: 350px;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 12px;
  position: relative;
  font-weight: bold;
}

h2:before {
  position: absolute;
  background: linear-gradient(to right, brown 5em, #ccc 50px);
  height: 3px;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
}

h2::after {
  bottom: 2px;
}

.go-to-post-link {
  text-decoration: none;
  text-align: end;
}

a {
  text-decoration: none;
}
