/* * {
   border: red solid 1px;
} */

.container {
   height: 200px;
   position: relative;
}

.center {
   margin: 0;
   position: absolute;
   top: 100%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.welcome {
   text-align: center;
   font-family: 'Kiwi Maru', serif;
}

.contact-socials-items>a {
   margin-inline: 0.5em;
}